.all-freelancers-area {
	.datatable-body {
		font-size: 16px;
		color: #485e76;
	}
}
.freelancer-count {
	background-color: #e3eaf4;
	color: #485e76;

	padding: 10px 25px;
	margin: 0px 10px;
	font-size: $body-font-size;
	font-weight: $semi-bold;
}
.datatable-head {
	font-size: 16px;
	color: $secondary-light-color;
	font-weight: $semi-bold;
}
.datatable-cell.balance-cell {
	p {
		padding: 5px 0;
		font-size: 18px;
		display: inline-block;
		width: 140px;
		text-align: left;
		padding-left: 15px;
		i {
			float: right;
			margin-right: 12px;
			margin-top: 4px;
		}
	}
	.suspend {
		background-color: #d5e5fa;
		color: #2c5d9d;
	}
	.deleted {
		background-color: #fad7dd;
		color: #932338;
	}
	.active {
		background-color: #d9f2d1;
		color: #5aa443;
	}
	.rejected {
		background-color: #e3e6ea;
		color: #485e76;
	}
}
.datatable-row {
	border-bottom: 1px solid #ced8e1;
	.ellipsis {
		font-size: 28px;
		color: $secondary-light-color;
	}
}
.table-footer-section {
	padding-bottom: 25px;
	.pagination {
		.page-item.disabled {
			.page-link {
				background-color: #e3eaf4;
				color: #8ca2bb;
			}
		}
		.page-item.active {
			.page-link {
				background-color: #99c985;
				border: none;
			}
		}
		.page-link {
			background-color: $secondary-color;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			border-radius: 5px;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			padding: 0;
			margin: 0 2px;
		}
		.page-link.next {
			padding: 0px 10px;
			width: auto;
		}
		.page-link.prev {
			padding: 0px 10px;
			width: auto;
		}
	}
}
