/*=========== Button CSS ==========*/

.boxed-btn {
    padding: 0px 18px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    border-radius: 5px;
    @extend %primary-bg-color;
    @extend %white-color;
    text-transform: capitalize;
    &:hover {
        background-color:#314963; 
        @extend %white-color;
    }
}
